
@{
    ViewBag.Title = "Calculation For day";
}

<h2>Calculation For day</h2>

<h3>Calculate successfully</h3>

<script>

    document.getElementById("calculateAllOrder").className += "  active";


</script>

