@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link href="~/Content/ErrorController/CommonError.css" rel="stylesheet" />
</head>
<body class="loading">

    <h1><button onclick="window.location.href = '/';" class="button">Home</button></h1>
    <h2>Unexpected Error <b>:(</b></h2>
    <div class="gears">
        <div class="gear one">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear two">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="gear three">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
    </div>
    <div></div>


    <script src="~/Content/ErrorController/jquery-1.10.2.js"></script>

    <script src="~/Content/ErrorController/CommonErrorScript.js"></script>
</body>
</html>

